.stateContent {
  margin-top: 0px;
}
.animateUp {
  transform: translate(0, 100%);
  animation: moveUp 250ms ease-in-out forwards;
}
.animateDown {
  transform: translate(0, -100%);
  animation: moveDown 250ms ease-in-out forwards;
}
@keyframes moveUp {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes moveDown {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
