.card {
  margin-right: 48px;
  background: transparent;
  border: 0;
  width: 100%;
}

.moveup, .movedown {
  background-color: transparent!important;
}
.movedown img {
  translate: rotate(180deg);
}

.text {
  margin-left: 10px;
  &.completed {
    text-decoration: line-through;
    color: #13BBB2;
  }
}

.checkbox {
  padding-left: 10px;
}