.card {
  margin-right: 48px;
  background: transparent;
  border: 0;
  width: 100%;
}

.moveup,
.movedown {
  background-color: transparent !important;
  padding: 0 5px;
  img {
    width: 8px;
    height: 8px;
  }
}
.movedown img {
  transform: rotate(180deg);
}

.text {
  margin-left: 10px;
  &.completed {
    text-decoration: line-through;
    color: #13bbb2;
  }
}

.checkbox {
  padding-left: 10px;
}
